<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인 페이지</title>
</head>
<body>
<h1>로그인 페이지</h1>
<hr/>
<!-- /login 주소 요청시 시큐리티가 낚아챌 것! -->
<form action="/login" method="post">
    <input type="text" name="username" placeholder="Username"/><br/>
    <input type="password" name="password" placeholder="Password"/><br/>
    <button>로그인</button>
</form>
<!--/oauth2/authorization/google 이 주소는 고정임. oauth-client 라이브러리를 쓰고 있기 때문-->
<a href="/oauth2/authorization/google">구글 로그인</a>
<a href="/oauth2/authorization/facebook">페이스북 로그인</a>
<a href="/joinForm">회원가입 하기</a>
</body>
</html>